<!DOCTYPE html>
<html lang="en">
<head>

    <title>Welcome to the Dashboard!</title>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<body>


    <h1>Hello <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout</button>
    </form>
    

    <form method="post" action="/addname">
        <label>Enter Your Budget Parameters<&#47;label><br>
        <input type="text" name="Budget Item" placeholder="Enter the budget parameter you want to calculate: " required>
        <input type="number" name="Budget Amount" placeholder="Enter the quantity for that parameter: " required>
        <input type="submit" value="Add">
      </form>

});

    <canvas id="myChart" width="400" height="400"></canvas>
<script>
    const xlabels = [];
    chartIt();
    
    async function chartIt() {
        // await getData();
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: xlabels,
        datasets: [{
            label: 'Budget',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
})
    }
</script>

</body>

</html>